@{
    ViewBag.Title = "Rules";
}
<h2>Game Rules</h2>

<h3><span class="glyphicon glyphicon-flag">&nbsp;</span>Changes</h3>

<p>You can make a maximum of three changes to your team between races.</p>

<h3><span class="glyphicon glyphicon-flag">&nbsp;</span>Race Entry Deadline</h3>

<p>Your team selection will be locked from Fri 8pm before a race weekend.</p>

<h3><span class="glyphicon glyphicon-flag">&nbsp;</span>Driver Points</h3>

<h4>Race result</h4>

<p>Drivers will score points based on their finishing position as per the table below.</p>

<table>
    <tr>
        <th>Position&nbsp;</th>
        <th>Points</th>
    </tr>
    <tr>
        <td>1</td>
        <td>30</td>
    </tr>
    <tr>
        <td>2</td>
        <td>23</td>
    </tr>
    <tr>
        <td>3</td>
        <td>20</td>
    </tr>
    <tr>
        <td>4</td>
        <td>17</td>
    </tr>
    <tr>
        <td>5</td>
        <td>15</td>
    </tr>
    <tr>
        <td>6</td>
        <td>13</td>
    </tr>
    <tr>
        <td>7</td>
        <td>11</td>
    </tr>
    <tr>
        <td>8</td>
        <td>9</td>
    </tr>
    <tr>
        <td>9</td>
        <td>7</td>
    </tr>
    <tr>
        <td>10</td>
        <td>6</td>
    </tr>
</table>

<h4>Fastest Lap</h4>

<p>5 points will be allocated if your driver achieves the fastest lap in the race.</p>

<h4>Race Finish</h4>

<p>5 points will be allocated if your driver finishes the race. As per the formula one regulations, any driver who completes over 90 percent of the race will be classified as a finisher, regardless of whether they were running as the winner took the chequered flag</p>

<h4>Teammates</h4>

<p>5 points will be allocated if your driver finishes ahead of their teammate.</p>
<hr />
<h3><span class="glyphicon glyphicon-flag">&nbsp;</span>Constructor Points</h3>

<p>5 points will be awarded if a <u>single</u> car in your chosen constructor finishes the race. 20 points will be awarded if <u>both</u> cars finish the race. An additional 5 points will be awarded per car finishing in the top 10.</p>
<hr />
<h3><span class="glyphicon glyphicon-flag">&nbsp;</span>Engine Points</h3>

<p>Mercedes, Ferrari and Renault (only): 15 points are awarded per car(*) finishing the race in the top 5 with your chosen engine.</p>
<p>Honda (only): 20 points are awarded per car(*) finishing the race in the top 10 with your chosen engine.</p>
<p>*Engine points are only awarded to a <u>maximum of two cars</u> with your chosen engine</p>

<h3><span class="glyphicon glyphicon-flag">&nbsp;</span>Driver of the Day</h3>
<p>The FIA ‘driver of the day’ will receive an additional 10 points to their race score.</p>

<h3><span class="glyphicon glyphicon-flag">&nbsp;</span>Late User Registration</h3>
<p>Late joiners will be able to register mid-season. Late joiners will be provided additional starting points.</p>