@{
    ViewBag.Title = "Rules";
}
<h2>Game Rules</h2>

<h3>Driver Points</h3>

<h4>Race result</h4>

<p>Drivers will score points based on their finishing position as per the table below.</p>

<table>
    <tr>
        <th>Position&nbsp;</th>
        <th>Points</th>
    </tr>
    <tr>
        <td>1</td>
        <td>25</td>
    </tr>
    <tr>
        <td>2</td>
        <td>18</td>
    </tr>
    <tr>
        <td>3</td>
        <td>15</td>
    </tr>
    <tr>
        <td>4</td>
        <td>12</td>
    </tr>
    <tr>
        <td>5</td>
        <td>10</td>
    </tr>
    <tr>
        <td>6</td>
        <td>8</td>
    </tr>
    <tr>
        <td>7</td>
        <td>6</td>
    </tr>
    <tr>
        <td>8</td>
        <td>4</td>
    </tr>
    <tr>
        <td>9</td>
        <td>2</td>
    </tr>
    <tr>
        <td>10</td>
        <td>1</td>
    </tr>
</table>

<h4>Fastest Lap</h4>

<p>5 points will be allocated if your driver achieves the fastest lap in the race.</p>

<h4>Teammates</h4>

<p>5 points will be allocated if your driver finishes ahead of their teammate.</p>
<hr />
<h3>Constructor Points</h3>

<p>5 points will be awarded if a <u>single</u> car in your chosen constructor finishes the race. 20 points will be awarded if <u>both</u> cars finish the race. An additional 5 points will be awarded per car finishing in the top 10.</p>
<hr />
<h3>Engine Points</h3>

<p>10 points are awarded per car* finishing the race with your chosen engine. An additional 5 points will be awarded per car* finishing in the top 10.</p>
<p>*Engine points are only awarded to a <u>maximum of two cars</u> with your chosen engine e.g. if 5 cars finish the race with your chosen engine, only the top 2 can score points for your team.</p>