@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Welcome to the SFW F1 Racing League</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h3>Step 1: Register</h3>
        <p>
            @{ if (User.Identity.IsAuthenticated)
                {

                    <text>You are already registered!</text>
                }
                else
                {
                    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }); <text>for an account. You will need to enter a team name.</text>
                }
            }
        </p>
    </div>
    <div class="col-md-4">
        <h3>Step 2: Create your Team</h3>
        <p>
            Create @Html.ActionLink("Your Team", "Edit", "Player") with your 100 million budget.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Step 3: Questions</h3>
        <p>Answer questions on the upcoming race to earn extra points</p>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{

    <div class="callout">

        <h3 class="alert alert-success"><span class="glyphicon glyphicon-flag"></span>&nbsp;Rule changes <span class="pull-right">27th July 2016</span></h3>

        <div class="row">
            <div class="col-md-12">
                <p>We have now passed the midway stage of the Formula 1 season and are approaching the summer break. Many of the driver, constructor and engine costs will be updated to reflect the points scored in the first half of the season. It is also hoped this will lead to a greater variation in team selection.</p>

                <p>Two rule changes affecting scoring will also be introduced and are discussed lower down.</p>

                <p>Costs and rules will remain unchanged for the German Grand Prix, but will introduced before the following race at Spa. There will be no restrictions on how many changes can be made to a team for the race in Spa. This will allow players to change all their components should they wish to do so.</p>


                <h4>Cost changes</h4>

                <p>Driver, constructor and engine costs are amended as per the <a href="~/Content/Images/Revised Costs.png">linked image</a>.</p>
            </div>
        </div>

        <p>The updated costs (blue) will be introduced to better match the points scored (red) over the season so far. The old cost (pink) is shown for comparison.</p>

        <div class="row">
            <div class="col-md-12">
                <h4>Rule changes</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h4 class="alert alert-info">Engine rule change</h4>
                <p>Mercedes, Ferrari and Renault (only): 15 points are awarded per car(*) finishing the race in the top 5 with your chosen engine.</p>
                <p>Honda (only): 20 points are awarded per car(*) finishing the race in the top 10 with your chosen engine.</p>
            </div>
            <div class="col-md-4">
                <h4 class="alert alert-info">Driver of the Day new rule</h4>
                <p>The FIA ‘driver of the day’ will receive an additional 10 points to their race score.</p>
            </div>
            <div class="col-md-4">
                <h4 class="alert alert-info">Rule change (Spa only)</h4>
                <p>The number of allowed changes for the Spa Grand Prix will be increased to 12 (unlimited).</p>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <p>(*Engine points are only awarded to a maximum of two cars with your chosen engine e.g. if 5 cars finish in the points with your chosen engine, only the top 2 can score points for your team.)</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Justification for the engine rule change</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>Engine scoring (shown in the ‘Revised engine costs’ graph) shows the points scored has been very similar for Mercedes, Ferrari and Renault. Typically these teams score maximum points for each and every race. Honda (having only two cars) are consistently behind.</p>

                <p>The problem is two-fold:</p>
                <ol>
                    <li>There is not enough deviation in points scored between Mercedes, Ferrari and Renault, especially when you considered their differing costs (15m for Mercedes, 11m for Ferrari, 7m for Renault - yet all similar points).</li>
                    <li>Honda cannot compete with the above engine suppliers since they are the only supplier to run two cars, resulting in a very high penalty for any retirements. Even with the 5m cost, there is little reason to choose Honda.</li>
                </ol>

                <p>The engine rule change fixes the problems with current engine scoring because:</p>
                <ol>
                    <li>Since only the top 5 [non-Honda] cars now score points it is impossible for Mercedes, Ferrari and Renault to all score the maximum amount of points in a race; at least one of these engine suppliers will not get maximum points.</li>
                    <li>Honda, being handicapped with two cars have a less imposing restriction, since their cars must simply finish in the top 10 to score points, plus they get 20 points instead of 15. While this may seem overpowering at first, Honda have only had both of their cars finish in the top 10 twice this season, so the chances of scoring a maximum of 40 points is unlikely. The low cost for Honda remains, so may be worth a punt if you feel lucky.</li>
                </ol>
            </div>
        </div>

    </div>

    <div class="callout">

        <h3 class="alert alert-success"><span class="glyphicon glyphicon-flag"></span>&nbsp;Rule changes <span class="pull-right">28th March 2016</span></h3>
        <p>In keeping with the ever-changing and often nonsensical changes in Formula One we've decided to make some minor amendments to the fantasy rules and regulations...</p>
        <div class="row">
            <div class="col-md-4">
                <h4 class="alert alert-info">Rule change #1</h4>
                <p>Points for drivers finishing in the top 10 have been increased by 5 points.</p>
            </div>
            <div class="col-md-4">
                <h4 class="alert alert-info">Rule change #2</h4>
                <p>Drivers finishing the race will be awarded an additional 5 points.</p>
            </div>
            <div class="col-md-4">
                <h4 class="alert alert-info">Rule change #3 (Bahrain only)</h4>
                <p>The number of allowed changes for the Bahrain Grand Prix have been increased from 3 to 4.</p>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Maximum changes clarification</h4>
                <p>While you are limited to a fixed number of changes between races, you can carry on making changes as long as there are no more than 4 differences to your previous team selection. You can view your previous team selection by clicking the 'previous race' link on your team selection page.</p>
            </div>
        </div>
    </div>
}
