@if (Request.IsAuthenticated)
{
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", Mvc.Account.Register(), htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", Mvc.Account.Login(), htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
